$color_1:#5b5a57;
$color_2:#1A8B8D;
$color_3:#00fbff;
$color_4:#1E2024;
$color_5:#E4D5C0;
$color_6:#FFFFFF;
$color_7:#000000;
$color_8:#ff9600;



/* DESKTOPS */
@media only screen and (min-width: 1024px){
    .ph-hallowlanding-hero { min-height: 710px !important; }
}


html { scroll-behavior: smooth; }
:target:before { content: ""; display: block; height: 100px; margin: -100px 0 0 }

#content { background: linear-gradient(180deg, $color_1 0%, $color_4 100%); margin-top: -15px }

html .cog-form__container, :root:root:root:root:root .cog-form__container { border-radius: 8px; }

.ph-muschamp { font-family: "p22-muschamp-pro" !important; }
.ph-textshadow { text-shadow: 0 1px 5px rgba(0,0,0,.75); }
.ph-roundcorners-top { border-top-left-radius: 8px; border-top-right-radius: 8px; }
.ph-roundcorners-bottom { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.ph-roundcorners-bottom-right { border-bottom-right-radius: 8px; }
.ph-roundcorners-bottom-left { border-bottom-left-radius: 8px; }

.ph-hallowlanding-hero { margin-top: 35px; background-color: $color_5; background-image: url('https://www.prestwickhouse.com/Image%20Library/img/landing/contests/hallowlanding-hero.png'); background-repeat: no-repeat; background-position: left top; background-size: cover; min-height: 350px; }



.ph-hallowlanding {
    .themecolor1 { color: $color_1 !important; }
    .themecolor2 { color: $color_2 !important; }
    .themecolor3 { color: $color_3 !important; }
    .themecolor4 { color: $color_4 !important; }
    .themecolor5 { color: $color_5 !important; }
    .themecolor6 { color: $color_6 !important; }
    .themecolor7 { color: $color_7 !important; }
    .themecolor8 { color: $color_8 !important; }

    .themebgcolor1 { background-color: $color_1 !important; }
    .themebgcolor2 { background-color: $color_2 !important; }
    .themebgcolor3 { background-color: $color_3 !important; }
    .themebgcolor4 { background-color: $color_4 !important; }
    .themebgcolor5 { background-color: $color_5 !important; }
    .themebgcolor6 { background-color: $color_6 !important; }
    .themebgcolor7 { background-color: $color_7 !important; }
    .themebgcolor8 { background-color: $color_8 !important; }

    .ph-h1 { font-weight: 400 !important; font-size: 5rem !important; line-height: 5rem !important; margin-bottom: 15px !important; letter-spacing: -0.08rem !important; }
    .ph-h2 { font-weight: 400 !important; font-size: 3rem !important; line-height: 3.25rem !important; letter-spacing: 0rem !important; }
    .ph-h3 { font-weight: 400 !important; font-size: 1.8rem !important; line-height: 2.25rem !important; letter-spacing: -.05rem !important; margin-bottom: 0.5rem !important; }
    .ph-h4 { font-weight: 400 !important; font-size: 17px !important; letter-spacing: -0.02rem !important; }
    .ph-xl { font-weight: 400 !important; font-size: calc(100% * 6) !important; }

    .block_1 { padding: 60px 30px; margin: 30px 0 0; }
    .block_2 { padding: 60px 30px; margin: 30px 0 0; }
}


.ph-anchorage a { text-decoration: underline }

.ph-hallowlanding-ebook { background-color: #879EB3 }
.ph-prizelist ul li { font-size: .9em; margin-bottom: 10px !important; line-height: 1.25em }
.ph-separator { margin-bottom: 20px !important }
.ph-gridblock { height: 100%; position: relative; display: flex; flex-direction: column; justify-content: flex-start }
.ph-button { font-weight: 400 !important; font-size: 36px;}
.ph-button-blue { background: #003da8; color: #fff; padding: 10px 15px !important }
.ph-button-blue:hover { background: #fff; color: #000 !important }
.ph-button-outline { background: 0 0 !important; border: 1px solid #fff !important; color: #fff !important }
.ph-button-outline:hover { background: #454545 !important; color: #fff !important }

.ph-hallowlanding-special figure { display: flex; min-height: 245px !important; }
.ph-hallowlanding-special .ph-desc-block { display: flex; flex-direction: column; min-height: 290px;  }
.ph-hallowlanding-special .ph-desc-block a { color: #fff; font-weight: 700; justify-self: end; margin-top: auto; width: 165px }