/* HEADERS AND COLORS FOR PRODUCT LINES */
$ph-prodcolors: (
    "literature":#1b90c3,
    "grammarwriting":#0e9a48,
    "grammarwriting-7th":#cb932a,
    "grammarwriting-8th":#26bbf1,
    "grammarwriting-9th":#8e555c,
    "grammarwriting-10th":#72714e,
    "grammarwriting-11th":#1f7983,
    "grammarwriting-12th":#806588,
    "vocabulary":#be2e25,
    "vocabulary-4th":#672F91,
    "vocabulary-5th":#0D7149,
    "vocabulary-6th":#2C5D2E,
    "vocabulary-7th":#e43049,
    "vocabulary-8th":#293289,
    "vocabulary-9th":#a3413e,
    "vocabulary-10th":#516091,
    "vocabulary-11th":#be6b2c,
    "vocabulary-12th":#745688,
    "reading":#e25931,
    "reading-4th":#be8a30,
    "reading-5th":#c35b2b,
    "reading-6th":#bf3434,
    "reading-7th":#284778,
    "reading-8th":#7b5e39,
    "reading-9th":#74467b,
    "reading-10th":#466c3b,
    "reading-11th":#28667c,
    "reading-12th":#34454f,
    "moreresources":#0a5794,
    "quizlet-home":#4257b2,
    "paperbacks":#776963,
    "tclp":#c35830,
    "clp":#e5a829,
    "disclit":#96bd23,
    "diverse":#60A9B2,
    "nonfiction":#07a784,
    "ltc":#bc10ce,
    "safeguard":#a98e5c,
    "sbs":#eb5057,
    "lap":#2062a5,
    "apltu":#2062a5,
    "issp":#2062a5,
    "ctk":#2062a5,
    "lou":#34953d,
    "ltu":#1295D7,
    "mcp":#e48b18,
    "lrj":#89b2dc,
    "3st":#2062a5,
    "ccrw":#2062a5,
    "gfw":#ed9f1e,
    "mi":#2062a5,
    "rla":#2062a5,
    "rd":#2062a5,
    "tdapg":#2062a5,
    "waprp":#2062a5,
    "gyv":#b3c357,
    "sbv":#ff9a4a,
    "vcb":#d0424b,
    "vlgr":#84679D,
    "vic":#67953d,
    "aplangcomp":#aa2d32,
    "preap":#57458d,
    "prepstate":#c79e4d,
    "readanalyze":#23275f,
    "rit":#149fbf,
    "readlit":#365127,
    "satpp":#e46133,
    "techpp":#8c3238,
    "vpp":#cd7936,
    "vppo":#fc9707,
    "ltg":#2062a5,
    "gdg":#F29533,
    "keylit":#fbb041,
    "welcome": #0e7a51,
    "springintostories": #C43038,
    "remotelearning": #6DBFB0,
    "floridabest": #4982AB
);

/*FREE LIBRARY HEADERS ICONS CARDS ETC*/
$ph-freelib: (
    "newest": #3bb287,
    "posters": #2687c4,
    "crosswords": #c384f2,
    "lessonplans": #e8b453,
    "ebooks": #ff5a3c,
    "httguides": #79d176,
    "others": #ec87e5,
    "quizlet": #8c3238
);

/*POSTERLANDING NAV COLORS*/
$ph-posterland: (
    "literature": #FF8370,
    "gramwrit": #00B1B0,
    "vocabulary": #FEC84D,
    "reading": #E42256,
    "freelibrary": #6E3562
);

/*GRADE GRID COLORS*/
$ph-grade-grid-color: (
    "fourth": #5d327d,
    "fifth": #5d327d,
    "sixth": #5d327d,
    "seventh": #fa9e0c,
    "eighth": #fa9e0c,
    "ninth": #fa9e0c,
    "tenth": #5b8786,
    "eleventh": #5b8786,
    "twelfth": #5b8786,
    "themed": #c35830
);