/*NEW LANDING PAGE FOR 2020*/
html { scroll-behavior: smooth; }
.equal { display: flex; display: -webkit-flex; }
div#content { background-color: #E5E5E5; }
div#content div.callout { background-color: transparent !important; }
a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer { cursor: pointer; }
.italic, a.italic { font-style: italic !important; }
.bold { font-weight: bold !important; }
.open-sans { font-family: 'Open Sans', Arial, sans-serif !important; }


/*CUSTOM PRODUCT COLOR VARIABLES*/
:root {

--ph-post-darkmode-color: #E22A2F;

}


